<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MPN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/css/fifth.css">
</head>

<body>
    <div id="app">
        <div class="frame">
            <div class="div">
                <div class="overlap">
                    <div class="fluid-container">
                        <div class="row">
                            <div class="col-8">
                                <div class="overlap-group">
                                    <div class="OBJECTS">
                                        <div class="overlap-2"><img class="img" alt="Element"
                                                src="https://generation-sessions.s3.amazonaws.com/e4a3188d6cad1169a1993de177120cd9/img/--29@2x.png">
                                            <img class="element-2" alt="Element"
                                                src="https://generation-sessions.s3.amazonaws.com/e4a3188d6cad1169a1993de177120cd9/img/---84.svg">
                                            <div class="element-wrapper">
                                                <div class="div-wrapper">
                                                    <div class="text-wrapper">MPN</div>
                                                </div>
                                            </div>
                                            <img class="element-3" alt="Element"
                                                src="https://generation-sessions.s3.amazonaws.com/e4a3188d6cad1169a1993de177120cd9/img/---9.svg">
                                            <div class="element-4">
                                                <div class="text-wrapper-2">Sample &amp; reagents loading</div>
                                            </div>
                                            <img class="element-6" alt="Element"
                                                src="https://generation-sessions.s3.amazonaws.com/e4a3188d6cad1169a1993de177120cd9/img/--37@2x.png">
                                            <div class="overlap-group-wrapper">
                                                <div class="overlap-group-2">
                                                    <div class="text-wrapper-3">01</div>
                                                </div>
                                            </div>
                                            <img class="element-7" alt="Element"
                                                src="https://generation-sessions.s3.amazonaws.com/e4a3188d6cad1169a1993de177120cd9/img/---87.svg">
                                            <div class="element-8">
                                                <div class="text-wrapper-2">1st PCR</div>
                                            </div>
                                            <img class="element-11" alt="Element"
                                                src="https://generation-sessions.s3.amazonaws.com/e4a3188d6cad1169a1993de177120cd9/img/--48@2x.png"><img
                                                class="element-12" alt="Element"
                                                src="https://generation-sessions.s3.amazonaws.com/e4a3188d6cad1169a1993de177120cd9/img/---12.svg">
                                            <div class="element-13">
                                                <div class="text-wrapper-2">1st PCR products purification</div>
                                            </div>
                                            <img class="element-18" alt="Element"
                                                src="https://generation-sessions.s3.amazonaws.com/e4a3188d6cad1169a1993de177120cd9/img/--58@2x.png"><img
                                                class="element-19" alt="Element"
                                                src="https://generation-sessions.s3.amazonaws.com/e4a3188d6cad1169a1993de177120cd9/img/---91.svg">
                                            <div class="element-20">
                                                <div class="text-wrapper-2">2nd PCR</div>
                                            </div>
                                            <img class="element-23" alt="Element"
                                                src="https://generation-sessions.s3.amazonaws.com/e4a3188d6cad1169a1993de177120cd9/img/--68@2x.png"><img
                                                class="element-24" alt="Element"
                                                src="https://generation-sessions.s3.amazonaws.com/e4a3188d6cad1169a1993de177120cd9/img/---93.svg">
                                            <div class="element-25">
                                                <div class="text-wrapper-2">2nd PCR products purification</div>
                                            </div>
                                            <img class="element-28" alt="Element"
                                                src="https://generation-sessions.s3.amazonaws.com/e4a3188d6cad1169a1993de177120cd9/img/--78@2x.png"><img
                                                class="element-29" alt="Element"
                                                src="https://generation-sessions.s3.amazonaws.com/e4a3188d6cad1169a1993de177120cd9/img/---95.svg"><img
                                                class="element-30" alt="Element"
                                                src="https://generation-sessions.s3.amazonaws.com/e4a3188d6cad1169a1993de177120cd9/img/--79@2x.png"><img
                                                class="element-31" alt="Element"
                                                src="https://generation-sessions.s3.amazonaws.com/e4a3188d6cad1169a1993de177120cd9/img/--80@2x.png"><img
                                                class="element-32" alt="Element"
                                                src="https://generation-sessions.s3.amazonaws.com/e4a3188d6cad1169a1993de177120cd9/img/--84@2x.png"><img
                                                class="element-33" alt="Element"
                                                src="https://generation-sessions.s3.amazonaws.com/e4a3188d6cad1169a1993de177120cd9/img/--85@2x.png"><img
                                                class="element-34" alt="Element"
                                                src="https://generation-sessions.s3.amazonaws.com/e4a3188d6cad1169a1993de177120cd9/img/--86@2x.png">
                                            <div class="text-wrapper-5">02</div>
                                            <div class="text-wrapper-6">03</div>
                                            <div class="text-wrapper-7">04</div>
                                            <div class="text-wrapper-8">05</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="element">Remaining Time: 00:00:00</div>
                                <div class="overlap-3">
                                    <div class="element-35">
                                        <div class="overlap-group-4">
                                            <img class="element-36" alt="Element"
                                                src="https://generation-sessions.s3.amazonaws.com/e4a3188d6cad1169a1993de177120cd9/img/--10@2x.png">
                                            <div class="text-wrapper-9">Pause</div>
                                        </div>
                                    </div>
                                    <img class="element-37" alt="Element"
                                        src="https://generation-sessions.s3.amazonaws.com/e4a3188d6cad1169a1993de177120cd9/img/---75.svg"><img
                                        class="element-38" alt="Element"
                                        src="https://generation-sessions.s3.amazonaws.com/e4a3188d6cad1169a1993de177120cd9/img/--28@2x.png">
                                </div>
                                <div class="overlap-4">
                                    <div class="element-35">
                                        <div class="overlap-5"><img class="element-36" alt="Element"
                                                src="https://generation-sessions.s3.amazonaws.com/e4a3188d6cad1169a1993de177120cd9/img/--18@2x.png">
                                            <div class="text-wrapper-9">Restart</div>
                                        </div>
                                    </div>
                                    <img class="element-39" alt="Element"
                                        src="https://generation-sessions.s3.amazonaws.com/e4a3188d6cad1169a1993de177120cd9/img/---78.svg"><img
                                        class="element-40" alt="Element"
                                        src="https://generation-sessions.s3.amazonaws.com/e4a3188d6cad1169a1993de177120cd9/img/---79.svg">
                                </div>
                                <div class="overlap-6">
                                    <div class="overlap-wrapper">
                                        <div class="end-of-program-wrapper">
                                            <div class="end-of-program">
                                                <div class="overlap-group-5">
                                                    <div class="text-wrapper-10">End of</div>
                                                    <div class="program"> program</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <img class="element-41" alt="Element"
                                        src="https://generation-sessions.s3.amazonaws.com/e4a3188d6cad1169a1993de177120cd9/img/---80.svg">
                                    <img class="element-42" alt="Element"
                                        src="https://generation-sessions.s3.amazonaws.com/e4a3188d6cad1169a1993de177120cd9/img/---81.svg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <img class="element-43" alt="Element"
                    src="https://generation-sessions.s3.amazonaws.com/e4a3188d6cad1169a1993de177120cd9/img/---1-1@2x.png">
            </div>
        </div>
    </div>

</body>

</html>