<!DOCTYPE html>
<html>

<head>
    <title>
        MPN
    </title>
    <%- include('./layout/head') -%>
    <link rel='stylesheet' href='/assets/css/second.css' />
</head>


<body>
    <div class="container text-center secondpage-layout">
        <div class="row mt-5 mb-5">
            <div class="col-6 text-end">
                <script>
                    let arr1 = [];
                    let arr2 = [];
                </script>
                <% if(id=='mpn'){ %>
                <script>
                    arr1 = ['S502 Primer', 'S503 Primer', 'S505 Primer', 'S506 Primer', 'S507 Primer', 'S508 Primer', 'S510 Primer', 'S511 Primer']
                    arr2 = ['N701 Primer', 'N702 Primer', 'N703 Primer', 'N704 Primer', 'N705 Primer', 'N706 Primer', 'N707 Primer', 'N710 Primer', 'N711 Primer', 'N712 Primer', 'N714 Primer', 'N715 Primer']
                </script>
                <h1>Sample Number: <input type="number" max="8" min="1" value="1" id="sampleNumberInput" oninput="if(value<=0)value=1;if(value>8)value=8;"></h1>
                <% }else if(id=='leukemia'){ %>
                <script>
                    arr1 = ['S505 Primer', 'S506 Primer', 'S507 Primer', 'S508 Primer']
                    arr2 = ['i701 Primer', 'i707 Primer', 'i708 Primer', 'i709 Primer', 'i710 Primer', 'i711 Primer', 'i712 Primer']
                </script>
                <h1>Sample Number: <input type="number" max="22" min="1" value="1" id="sampleNumberInput" oninput="if(value<=0)value=1;if(value>22)value=22;"></h1>
                <% }else{ %>
                <script>
                    arr1 = ['S502 Primer', 'S503 Primer', 'S505 Primer', 'S506 Primer', 'S507 Primer', 'S508 Primer', 'S510 Primer', 'S511 Primer']
                    arr2 = ['N716 Primer', 'N718 Primer', 'N719 Primer', 'N720 Primer', 'N721 Primer', 'N722 Primer', 'N723 Primer', 'N724 Primer', 'N726 Primer', 'N727 Primer', 'N728 Primer', 'N729 Primer']
                </script>
                <h1>Sample Number: <input type="number" max="24" min="1" value="1" id="sampleNumberInput" oninput="if(value<=0)value=1;if(value>24)value=24;"></h1>
                <% } %>
            </div>
            <div class="col-6 text-start">
                <button id="snAdd1" type="button" class="asbtn changePage btn-primary border-5">+1</button>
                <button id="snSub1" type="button" class="asbtn changePage btn-primary border-5">-1</button>
                <button id="snAdd10" type="button" class="asbtn changePage btn-primary border-5">+10</button>
                <button id="snSub10" type="button" class="asbtn changePage btn-primary border-5">-10</button>
            </div>

        </div>
        <div id="btn-login" class="ShowUser"></div>
        <div class="row">
            <table class="demo">
                <tbody>
                    <tr>
                        <td rowspan="8">
                            <div class="row" style="width: 320px;">
                                <div class="col-md-6">
                                    <button type="button" id="pm1" class="countPopBtn scircle btn-primary border-5" data-bs-toggle="modal" data-bs-target="#staticBackdrop">PCR Mix 1</button>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" id="mb" class="countPopBtn scircle btn-primary border-5" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Magnetic
                                        beads</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="button" id="pm2" class="countPopBtn scircle btn-primary border-5" data-bs-toggle="modal" data-bs-target="#staticBackdrop">PCR Mix 2</button>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="scircle btn-primary border-5"></button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="button" class="scircle btn-primary border-5"></button>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="scircle btn-primary border-5"></button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="button" class="scircle btn-primary border-5"></button>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="scircle btn-primary border-5"></button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="button" class="scircle btn-primary border-5"></button>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="scircle btn-primary border-5"></button>
                                </div>
                            </div>
                        </td>
                        <td class="tdWidth">
                            <input id="tdFirst_1" type="text" class="customText" maxlength="15" disabled>
                        </td>
                        <td class="tdWidth">
                            <input id="tdFirst_9" type="text" class="customText" maxlength="15" disabled>
                        </td>
                        <td class="tdWidth">
                            <input id="tdFirst_17" type="text" class="customText" maxlength="15" disabled>
                        </td>
                        <td id="tdSecond_1" class="tdWidth"></td>
                        <td id="tdSecond_9" class="tdWidth"></td>
                        <td id="tdSecond_17" class="tdWidth"></td>
                    </tr>
                    <tr>
                        <td class="tdWidth">
                            <input id="tdFirst_2" type="text" class="customText" maxlength="15" disabled>
                        </td>
                        <td class="tdWidth">
                            <input id="tdFirst_10" type="text" class="customText" maxlength="15" disabled>
                        </td>
                        <td class="tdWidth">
                            <input id="tdFirst_18" type="text" class="customText" maxlength="15" disabled>
                        </td>
                        <td id="tdSecond_2" class="tdWidth"></td>
                        <td id="tdSecond_10" class="tdWidth"></td>
                        <td id="tdSecond_18" class="tdWidth"></td>
                    </tr>
                    <tr>
                        <td class="tdWidth">
                            <input id="tdFirst_3" type="text" class="customText" maxlength="15" disabled>
                        </td>
                        <td class="tdWidth">
                            <input id="tdFirst_11" type="text" class="customText" maxlength="15" disabled>
                        </td>
                        <td class="tdWidth">
                            <input id="tdFirst_19" type="text" class="customText" maxlength="15" disabled>
                        </td>
                        <td id="tdSecond_3" class="tdWidth"></td>
                        <td id="tdSecond_11" class="tdWidth"></td>
                        <td id="tdSecond_19" class="tdWidth"></td>
                    </tr>
                    <tr>
                        <td class="tdWidth">
                            <input id="tdFirst_4" type="text" class="customText" maxlength="15" disabled>
                        </td>
                        <td class="tdWidth">
                            <input id="tdFirst_12" type="text" class="customText" maxlength="15" disabled>
                        </td>
                        <td class="tdWidth">
                            <input id="tdFirst_20" type="text" class="customText" maxlength="15" disabled>
                        </td>
                        <td id="tdSecond_4" class="tdWidth"></td>
                        <td id="tdSecond_12" class="tdWidth"></td>
                        <td id="tdSecond_20" class="tdWidth"></td>
                    </tr>
                    <tr>
                        <td class="tdWidth">
                            <input id="tdFirst_5" type="text" class="customText" maxlength="15" disabled>
                        </td>
                        <td class="tdWidth">
                            <input id="tdFirst_13" type="text" class="customText" maxlength="15" disabled>
                        </td>
                        <td class="tdWidth">
                            <input id="tdFirst_21" type="text" class="customText" maxlength="15" disabled>
                        </td>
                        <td id="tdSecond_5" class="tdWidth"></td>
                        <td id="tdSecond_13" class="tdWidth"></td>
                        <td id="tdSecond_21" class="tdWidth"></td>
                    </tr>
                    <tr>
                        <td class="tdWidth">
                            <input id="tdFirst_6" type="text" class="customText" maxlength="15" disabled>
                        </td>
                        <td class="tdWidth">
                            <input id="tdFirst_14" type="text" class="customText" maxlength="15" disabled>
                        </td>
                        <td class="tdWidth">
                            <input id="tdFirst_22" type="text" class="customText" maxlength="15" disabled>
                        </td>
                        <td id="tdSecond_6" class="tdWidth"></td>
                        <td id="tdSecond_14" class="tdWidth"></td>
                        <td id="tdSecond_22" class=" tdWidth"></td>
                    </tr>
                    <tr>
                        <td class="tdWidth">
                            <input id="tdFirst_7" type="text" class="customText" maxlength="15" disabled>
                        </td>
                        <td class="tdWidth">
                            <input id="tdFirst_15" type="text" class="customText" maxlength="15" disabled>
                        </td>
                        <td class="tdWidth">
                            <input id="tdFirst_23" type="text" class="customText" maxlength="15" disabled>
                        </td>
                        <td id="tdSecond_7" class="tdWidth"></td>
                        <td id="tdSecond_15" class="tdWidth"></td>
                        <td id="tdSecond_23" class=" tdWidth"></td>
                    </tr>
                    <tr>
                        <td class="tdWidth">
                            <input id="tdFirst_8" type="text" class="customText" maxlength="15" disabled>
                        </td>
                        <td class="tdWidth">
                            <input id="tdFirst_16" type="text" class="customText" maxlength="15" disabled>
                        </td>
                        <td class="tdWidth">
                            <input id="tdFirst_24" type="text" class="customText" maxlength="15" disabled>
                        </td>
                        <td id="tdSecond_8" class="tdWidth"></td>
                        <td id="tdSecond_16" class="tdWidth"></td>
                        <td id="tdSecond_24" class=" tdWidth"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row mt-5 justify-content-between">
            <div class="col-2">
                <a href="/">
                    <button type="button" class="changePage prevPage btn-primary border-5">
                        <i class="fa-solid fa-caret-left"></i>
                    </button>
                </a>
            </div>
            <div class="col-2">
                <button type="button" class="changePage nextPage btn-primary border-5">
                    <i class="fa-solid fa-caret-right"></i>
                </button>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="container-fluid">
                        <div class="row">
                            <p>MasterMix&emsp;:&emsp;<span id="masterMix">210µl</span></p>
                        </div>
                        <div class="row">
                            <p>PrimerPool&emsp;:&emsp;<span id="primerPool">42µl</span></p>
                        </div>
                        <hr class="my-4">
                        <div class="row my-4">
                            <p>Total&emsp;:&emsp;<span id="total">252µl</span></p>
                        </div>
                        <div class="row">
                            <div class="col-6 text-start">
                                <button id="cancleChoose" type="button" class="chooesBtn changePage btn-primary border-5" data-bs-dismiss="modal">X</button>
                            </div>
                            <div class="col-6 text-end">
                                <button id="doneChoose" type="button" class="chooesBtn changePage btn-primary border-5" data-bs-dismiss="modal">done</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Understood</button>
                </div> -->
            </div>
        </div>
    </div>
    <%- include('./layout/js') -%>
    <script src="/assets/js/secondPage.js"></script>
</body>

</html>